html {
    height: 100%;
}

#name h1 {
    text-align: left;
    font-size: 20px;
}

#menu {
    background-image: url('images/cupsteam2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}

#name img {
    margin: 0 0 0 60px;
    width: 20%;
}

body {
    font: normal 'trebuchet ms', arial, sans-serif;
    background-color: black;
    color: white;
}

form {
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    font-size: 20px;
}

#locat {
    text-align: center;
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    font-size: 20px;
    padding: 50px;
    margin: 10px;
}

#googleMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#menubar {
    width: cover;
    height: cover;
    padding: 0;
}

table {
    padding: 0 0 0px 0;
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    border: black;
}

time {
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
}

#drinks table {
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: none;
}

#drinks th,
td {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#drinks th {
    width: 50%;
}

#drinks img {
    width: 50%;
    position: left;
}

ul#menu,
ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

ul#menu li {
    list-style: none;
}

ul#menu li a {
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    font-size: 19px;
    display: block;
    float: left;
    height: 30px;
    padding: 20px 0px 20px 58px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

ul#menu li,
ul#menu li.selected a,
ul#menu li.selected {
    color: brown;
}

p {
    padding: 0 0 7px 0;
    line-height: 0em;
}

#gif {
    float: left;
    width: 50%;
    padding: 10px 30px;
}

#abo p {
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    font-size: 20px;
    padding: 0 0 7px 0;
    line-height: 2em;
    padding: 50px;
    margin: 10px;
}

h1 {
    padding: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    font: normal 100% arial, sans-serif;
    font-size: 20px;
}

font {
    font: normal.80em 'trebuchet ms', arial, sans-serif;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

thead {
    background-image: url('images/backbl2.jpg')
}

#site_content {
    width: 930px;
    overflow: auto;
    margin: 0 auto 0 auto;
    padding: 0px 20px 20px 80px;
    background-image: url('images/broback3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    text-align: left;
    padding: 0;
}

#thumbs {
    width: 192px;
    height: 370px;
    padding: 5px;
    float: left;
}

#mainimg {
    width: 289px;
    padding: 5px;
    float: left;
}

#imgCover {
    height: 373px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

::selection {
    background: #fa4299;
    color: rgb(0, 0, 0);
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: rgb(34, 25, 25);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #443b3f);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #fc83bb;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fa4299;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}